
@{
    ViewData["Title"] = "Create";
}
<h1>New Student</h1>
<form method="post" asp-action="AddStudent" asp-controller="Student">

    <div class="form-group"> 
    <label for="Name">Name</label>
    <input id=" studentName" class="form-control" name="Name"/>

</div>
<div class="form-group"> 

    <label for="Email">Email</label>
    <input id="studentEmail" class="form-control" name="Email"/>

</div>
<div class="form-group" > 

    <label for="Age">Age</label>
    <input id=" studentAge" class="form-control" name="Age"/>

</div>
<div class="text-center panel-body">
    <button id="btnSave" class="btn btn-sm btn-primary">Save</button>
</div>

</form>

